.call-container {
  display: flex;
  flex-direction: column;
  height: 466px;
}

.all-calls:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.call-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.caller-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.caller-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main-number {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.sub-number {
  font-weight: normal;
  font-size: 12px;
}

.icons {
  display: flex;
  flex-direction: column;
}
