.call-container {
  display: flex;
  flex-direction: column;
  height: 466px;
}

.call-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.caller-details {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.call-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
}
